<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Variables in Template</title>
    </head>
    <body>
        {{$val := .}}
        <h1>We can input data to template using variables</h1>
        <p>To be successful in life we need to : {{$val}}</p>
    </body>

</html>