* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "aladin", cursive;
}
header {
  background-color: #1f155f;
  color: #ffffff;
  position: relative;
}
header .wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
}

header .menus {
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: relative;
  justify-content: space-between;
}
