<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>TextTemplate package</title>
    </head>
    <body>
        <h1>This is a TextTemplate files</h1>
        <p>This text is for parsing using text/template package</p>
    </body>

</html>