<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>TextTemplate package</title>
    </head>
    <body>
        <h1>We can parse data to our file using double set of bracket</h1>
        <p>The data we want to parse is : {{.}}</p>
    </body>

</html>